.container {
  --news-widget-primary: #db5a83;
  --news-widget-secondary: #686868;
  --news-widget-body: #040404;
  --news-widget-inverted-bg: #9a9a9a;
  --news-widget-inverted-body: #fff;
  --news-widget-bg: #fafafa;

  --news-widget-border-width: 4px;

  --news-widget-h1: 1.4rem;

  background-color: var(--news-widget-bg);
  color: var(--news-widget-body);
  padding: 2rem;
  position: relative;
}

.titleBar {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.heading {
  border-bottom: var(--news-widget-border-width) solid var(--news-widget-primary);
  font-size: var(--news-widget-h1);
  color: var(--news-widget-primary);
  padding-bottom: .4rem;
}
